                    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
                    * {
                        font-family: 'Poppins', sans-serif;
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        text-decoration: none;
                    }
                    /* Css Variables */
                    
                     :root {
                        /* Color */
                        --blue: rgb(25, 120, 175);
                        --mainBackground: #f5f5f5;
                        /* property */
                        --sidebarWidth: 13rem;
                        --topbarHeight: 3.1rem;
                    }
                    
                    html {
                        scroll-behavior: smooth;
                    }
                    
                    body {
                        font-size: 1rem;
                        overflow-x: hidden;
                    }
                    /* Sidebar Nav */
                    
                    .topbar {
                        padding: 0.2rem 1rem;
                        height: var(--topbarHeight);
                        background-color: #f9f9f9;
                        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
                        height: var(--topbarHeight);
                        position: fixed;
                        top: 0;
                        width: 100%;
                        z-index: 1;
                    }
                    
                    .toggle-menu {
                        font-size: 1.7rem;
                        display: none;
                    }
                    
                    .toggle-menu i {
                        cursor: pointer;
                    }
                    
                    .navigation {
                        position: fixed;
                        top: 3.15rem;
                        left: 0;
                        width: var(--sidebarWidth);
                        height: 100vh;
                        background-color: grey;
                        transition: .5s;
                        overflow: hidden;
                    }
                    /*         .navigation.active {
                        width: 0%;
                        transition: .3s;
                    } */
                    
                    .navigation ul {
                        padding-left: 1rem;
                        justify-self: center;
                    }
                    
                    .nav-list {
                        position: relative;
                        list-style: none;
                        margin-top: 1.3rem;
                        margin-bottom: 1.3rem;
                    }
                    
                    .nav-link {
                        position: relative;
                        width: 100%;
                    }
                    
                    .nav-title,
                    .icon {
                        color: white;
                    }
                    
                    .nav-title {
                        font-size: 1.3rem;
                    }
                    
                    .nav-title:hover {
                        color: black;
                    }
                    /* Content section */
                    
                    .data {
                        padding: 2rem;
                        margin-top: 3.05rem;
                        margin-left: var(--sidebarWidth);
                        height: calc(100%-var(--topbarHeight));
                        z-index: -1;
                    }
                    /* Responsive Design */
                    
                    @media only screen and (max-width:968px) {
                        .toggle-menu {
                            display: block;
                        }
                        .navigation {
                            top: 3.15rem;
                            left: -100%;
                            height: 100vh;
                            z-index: 1000;
                        }
                        .data {
                            margin-left: 0;
                            width: 100%;
                        }
                        .navigation.active {
                            left: 0;
                        }
                    }